*.filters -merge
*.vcxproj -merge
*.vsmdi -merge
*.sln -merge
*.mdb -merge
*.vw7 -merge
*.xml -merge
*.csproj -merge
*.csproj.user -merge
*.xaml -merge
*.config -merge
*.tsproj -merge
*.plcproj -merge
*.xti -merge
*.TcTTO -merge
*.TcPOU -merge
*.TcDUT -merge
*.TcGVL -merge
*.TcVis -merge
*.TcVMO -merge
*.TcGTLO -merge
